.footer {
    width: 100%;
    grid-area: footer;
    background-color: #ccc;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }
    }
    &__logo {
    }
}
