.nav {
    &--header {
        .nav__list {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .nav__item {
        }

        .nav__link {
            font-weight: 700;
            line-height: 1.2;

            transition: 0.3s linear;

            @media (max-width: $sm) {
                font-size: 1.5rem;
            }

            &:hover {
                color: $highlight;
            }
        }
    }
}
