.section {
    &--showcase {
        padding-top: 106px;

        margin-bottom: 120px;

        @media (max-width: $md) {
            margin-bottom: 80px;
            padding-top: 94px;
        }

        .section__inner {
            display: grid;
            grid-template-columns: 40% 60%;

            @media (max-width: $sm) {
                grid-template-columns: 1fr;
            }
        }
        .section__subtitle {
            margin-bottom: 14px;

            font-size: 2rem;
            font-weight: 500;

            @media (max-width: $sm) {
                margin-bottom: 16px;

                font-size: 1.8rem;
            }
        }

        .section__title {
            margin-bottom: 30px;

            font-size: 12rem;
            font-weight: 700;
            line-height: 0.9;

            @media (max-width: $lg) {
                font-size: 8rem;
            }
            @media (max-width: $sm) {
                margin-bottom: 28px;

                font-size: 9rem;
            }

            @media (max-width: 360px) {
                font-size: 7rem;
            }
        }

        .section__text {
            margin-bottom: 42px;

            max-width: 349px;

            @media (max-width: $sm) {
                margin-bottom: 38px;

                font-size: 1.5rem;
            }
        }

        .btn {
            margin-bottom: 47px;

            @media (max-width: $sm) {
                margin-bottom: 38px;
            }
        }

        .section__about-course {
            display: grid;
            grid-template-columns: repeat(2, minmax(155px, 183px));
            gap: 20px;

            @media (max-width: $lg) {
                grid-template-columns: 1fr;
            }
            @media (max-width: $md) {
                grid-template-columns: repeat(2, minmax(130px, 183px));
            }
        }
        .section__about-course-item {
            display: flex;
            flex-direction: column;
            gap: 6px;

            padding-bottom: 14px;

            font-size: 2rem;
            font-weight: 500;

            border-bottom: 1px solid #393939;

            @media (max-width: $sm) {
                font-size: 1.8rem;
            }
        }

        .section__about-course-caption {
            font-size: 1.6rem;
            font-weight: 400;

            @media (max-width: $sm) {
                font-size: 1.5rem;
            }
        }

        .section__image {
            display: block;
            max-width: 100%;
            height: auto;

            @media (max-width: $sm) {
                display: none;
            }
        }
    }
    &--portfolio {
        margin-bottom: 132px;

        @media (max-width: $md) {
            margin-bottom: 108px;
        }

        .section__title {
            margin-bottom: 67px;
            text-align: center;

            @media (max-width: $sm) {
                margin-bottom: 38px;
            }
        }

        .section__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &--about {
        margin-bottom: 100px;

        @media (max-width: $md) {
            margin-bottom: 80px;
        }

        .section__title {
            margin-bottom: 38px;

            @media (max-width: $sm) {
                margin-bottom: 28px;

                font-size: 3.8rem;
            }
        }
    }

    &--contacts {
        margin-bottom: 112px;

        @media (max-width: $md) {
            margin-bottom: 64px;
        }

        .section__inner {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .section__title {
            margin-bottom: 38px;

            font-size: 4.8rem;
            text-align: center;

            @media (max-width: $sm) {
                font-size: 3.8rem;
                margin-bottom: 48px;
            }
        }
    }

    &__inner {
    }
    &__title {
        font-size: 7rem;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.2;

        @media (max-width: $sm) {
            font-size: 3.8rem;
        }
    }

    &__subtitle {
        margin-bottom: 6px;

        font-size: 2rem;
        font-weight: 500;

        @media (max-width: $sm) {
            margin-bottom: 8px;

            font-size: 1.8rem;
        }
    }

    &__content {
    }
}
