<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <a href="#" class="logo footer__logo"></a>

            <nav class="nav nav--footer">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">link 1</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">link 2</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">link 3</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">link 4</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>