/* pp neue montreal regular */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PP Neue Montreal';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* pp neue montreal medium */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PP Neue Montreal';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/NeueMontreal-Medium.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* pp neue montreal regular */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PP Neue Montreal';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NeueMontreal-Bold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
