// colors
$primary: #161616;
$text-color: #f3f0ed;

$highlight: #ed2f7c;
// typography
$family: 'PP Neue Montreal', sans-serif;

// media
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
